.contactList {
  list-style: none;
  margin-top: 0;
  padding-left: 20px;
  font-size: 20px;
  letter-spacing: 0.3px;
}

.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.contactItem + .contactItem {
  margin-top: 10px;
}

.deleteBtn {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-left: 5px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #000;
  cursor: pointer;
}
.loader {
  margin-left: 5px;
}
