.form {
  padding: 10px;
  width: 270px;
  border-radius: 5px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.inputForm {
  width: 100%;
  padding: 7px;
  font-weight: 500;
  font-size: 17px;

  line-height: normal;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.inputForm:focus {
  outline: transparent;
  border: 1px solid rgb(33, 150, 243);
}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 35px;
  padding: 7px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  color: #fff;
  background-color: #3b7bdb;
  border-radius: 4px;
  border: 0 solid transparent;
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.addBtn:hover {
  background-color: #1867de;
}

.lableName {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
}

.lableName + .lableName {
  margin-top: 10px;
}
